.container {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.createEmployed {
  width: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: #30a7d6;
  color: #000000;
  cursor: pointer;
  transition:  .3s ease all;
}

.createEmployed:hover {
  background: #1fc9cb;
}
