.container {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.contTable {
  width: 100%;
  height: auto;
  background: #fefefe;
  border-radius: 5px;
  box-shadow: -2px 2px 2px #c2c2c2;
  overflow: hidden;
}

table {
  width: 100%;
}

table .header {
  width: 100%;
  background: #e3e3e3;
  font-weight: bold;
}

table .employedRow {
  height: 20px;
  font-size: .8rem;
  background: #fff;
  transition: .3s ease all;
}

table .employedRow:hover {
  background: #e8e8e8;
}

table .employedRow td {
  padding: 5px 0;
}

table .butons {
  display: flex;
  gap: 5px;
}

.butons button {
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
  font-size: .8rem;
  cursor: pointer;
}

.butons .edit {
  width: auto;
  background: #23d78c;
  box-shadow: -2px 2px 4px #a3a3a3;
  transition: .4s ease all;
}

.butons .edit:hover {
  width: auto;
  background: #25ff19;
  box-shadow: none;
}

.butons .delete {
  width: auto;
  background: #ee566a;
  box-shadow: -2px 2px 4px #a3a3a3;
  transition: .4s ease all;
}

.butons .delete:hover {
  width: auto;
  background: #d72338;
  box-shadow: none;
}
