<div class="container">

  <div class="contTable">

    <table>
      <tr class="header">
        <td style="width: 10px;"></td>
        <td  style="padding: 5px 0;">#</td>
        <td>Expediente</td>
        <td>Nombre</td>
        <td>Fecha de Nacimiento</td>
        <td>RFC</td>
        <td>Email</td>
        <td>Telefono</td>
        <td>Acciones</td>
      </tr>

      <tr class="employedRow" *ngFor="let employed of employees; let i = index">
        <td style="width: 10px;"></td>
        <td style="font-weight: bold;">{{ i + 1 }}</td>
        <td>{{ employed.proceedings }}</td>
        <td>{{ employed.name }}</td>
        <td>{{ employed.birthdate }}</td>
        <td>{{ employed.rfc }}</td>
        <td>{{ employed.email }}</td>
        <td>{{ employed.phone }}</td>
        <td class="butons">
          <button class="edit">Editar</button>
          <button class="delete">Borrar</button>
        </td>
      </tr>
    </table>

  </div>


</div>
