<div class="container">

  <app-create></app-create>

  <div class="contTable">

    <table>
      <tr class="header">
        <td style="width: 10px;"></td>
        <td  style="padding: 5px 0;">#</td>
        <td>Expediente</td>
        <td>Nombre</td>
        <td>Fecha de Nacimiento</td>
        <td>RFC</td>
        <td>Email</td>
        <td>Telefono</td>
        <td>Acciones</td>
      </tr>

      <tr class="employedRow" *ngFor="let employed of employees; let i = index">
        <td style="width: 10px;"></td>
        <td style="font-weight: bold;">{{ i + 1 }}</td>
        <td>{{ employed.proceedings }}</td>
        <td>{{ employed.name }}</td>
        <td>{{ employed.birthdate }}</td>
        <td>{{ employed.rfc }}</td>
        <td>{{ employed.email }}</td>
        <td>{{ employed.phone }}</td>
        <td class="butons">
          <button (click)="statusModal(employed)" class="edit">Editar</button>
          <button (click)="delete(employed.id, employed.name)" class="delete">Borrar</button>
        </td>
      </tr>
    </table>

  </div>


</div>


<div class="hidden" #asModalWindow>
  <div class="modal">

    <div class="modalHeader">
      <div></div>
      <p>Editar trabajador</p>
      <button (click)="statusModal()">X</button>
    </div>

    <div class="modalCont">

      <form
        autocomplete="off"
        [formGroup]="editForm"
        (ngSubmit)="editEmployed()"
      >
        <div class="inputCont">
          <label for="">Expendiente:</label>
          <input type="text" formControlName="proceedings" [(ngModel)]="employedCurrent.proceedings">
        </div>

        <div class="inputCont">
          <label for="">Nombre:</label>
          <input type="text" formControlName="name" [(ngModel)]="employedCurrent.name">
        </div>

        <div class="inputCont">
          <label for="">Fecha de Nacimiento:</label>
          <input type="date" formControlName="birthdate" [(ngModel)]="employedCurrent.birthdate">
        </div>

        <div class="inputCont">
          <label for="">RFC:</label>
          <input type="text" formControlName="rfc" [(ngModel)]="employedCurrent.rfc">
        </div>

        <div class="inputCont">
          <label for="">Email:</label>
          <input type="email" formControlName="email" [(ngModel)]="employedCurrent.email">
        </div>

        <div class="inputCont">
          <label for="">Telefono:</label>
          <input type="text" formControlName="phone" [(ngModel)]="employedCurrent.phone">
        </div>

        <div class="contBtn">
          <button class="register" type="submit">
            Registrar
          </button>
        </div>

      </form>

    </div>

  </div>
</div>
